<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="https://raw.githubusercontent.com/hakimel/reveal.js/master/css/reveal.css">
		<link rel="stylesheet" href="/presentacion-ual17/css/theme/{{page.tema}}.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/presentacion-ual17/lib/css/zenburn.css">


	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				{{ content }}
			</div>
		</div>

		<script src="/presentacion-ual17/lib/js/head.min.js"></script>
		<script src="/presentacion-ual17/js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '/presentacion-ual17/plugin/markdown/marked.js' },
					{ src: '/presentacion-ual17/plugin/markdown/markdown.js' },
					{ src: '/presentacion-ual17/plugin/notes/notes.js', async: true },
					{ src: '/presentacion-ual17/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>

